body {
    background-color: #6c1325;
    font-family: Arial, sans-serif;
    padding: 20px;
    text-align: center;
    background-image: url(bukti/wallpaper.png);
}

.container {
    background-color: #e7baba;
    border-radius: 5px;
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    margin-top: 60px;
}

.btn {
    padding: 10px 20px;
    background-color: #6c1325;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin-right: 10px;
}

h2 {
    color: #6c1325;
    text-align: center;
  }